<div class="formsize" fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex="55">
    <div class="heading2" fxLayout="column" fxLayoutAlign="center center">
      <mat-card-title>
        <p>
          <span class="f">f</span>
          <span class="u">u</span>
          <span class="n">n</span>
          <span class="d">d</span>
          <span class="o">o</span>
          <span class="o">o</span>
          <span class="n">n</span>
          <span class="o">o</span>
          <span class="t">t</span>
          <span class="e">e</span>
        </p>
      </mat-card-title>
      <h2> Registration</h2>
    </div>
    <div class="register" fxLayout=column fxLayoutAlign="center center">

      <mat-form-field [style.fontSize.px]="11" appearance="outline">
        <mat-label>Enter Your Name</mat-label >
        <input matInput placeholder="Enter First Name" [formControl]="firstname" required>
      </mat-form-field>

      <mat-form-field [style.fontSize.px]="12" appearance="outline">
        <mat-label>Enter Your Email</mat-label>
        <input matInput placeholder="Email" name="email" type="text" [formControl]="email" required>
        <mat-icon matSuffix> email </mat-icon>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>

      <!-- <div class="buttn" fxLayout=column fxLayoutAlign="space-around center" > -->
      <mat-form-field [style.fontSize.px]="12" appearance="outline" hintLabel="Min 8 characters">
        <mat-label>Enter Your Password </mat-label>
        <input matInput #input minlength="6" placeholder="Enter your password" name="password" type="password"
          [formControl]="password" required [type]="hide ? 'password' : 'text'">
        <mat-error *ngIf="password.invalid">{{geterrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button class="blocks" mat-raised-button color="primary" (click)="onClicked()">Submit</button>


    </div>




    <!-- </div> -->
  </mat-card>
</div>