<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../.././../assets/googleKeepLogo.png" width="30px">
    <h1 class="example-app-name">FundooNote</h1>

    <div fxLayoutGap="20px" fxLayoutAlign="space-around center" fxFlex=50>
      <mat-card fxLayout="row" fxFlex="100" fxLayoutGap="5px">
        <mat-icon>search</mat-icon>
        <input class="textboxDashboard" matInput placeholder="Search">
      </mat-card>
    </div>
    <div fxLayoutAlign="space-around center" fxFlex=30>
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>view_agenda</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>

      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>

    </div>



  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list class="siden">
        <mat-list-item>
          <mat-icon matListIcon><img src="assets/icon/bulb.svg"></mat-icon>
          <a matLine>Notes</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon><img src="assets/icon/reminder.svg"></mat-icon>
          <a matLine>Reminder</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <p>Label</p>

        <mat-list-item>
          <mat-icon matListIcon><img src="assets/icon/label.svg"></mat-icon>
          <a matLine>Edit Label</a>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item routerLink="archives">
          <mat-icon matListIcon><img src="assets/icon/archives.svg"></mat-icon>
          <a matLine>Archives</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListIcon><img src="assets/icon/bin.svg"></mat-icon>
          <a matLine>Bin</a>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div>
    <app-create-note></app-create-note>
  </div>
  <div>
    <app-notes></app-notes>
  </div>
    <!-- </mat-sidenav-content> -->
  </mat-sidenav-container>

</div>
<!-- <mat-sidenav-content> -->
<!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
<!-- <div>
        <div fxFlex=100 fxLayoutAlign="center center">
          <mat-card class="titleCard" fxLayout="column" fxFlex="50">
            <div fxLayout="row">
              <input class="titleInputCard" matInput placeholder="Title" fxLayoutGap=70%>
              <div fxLayout="row" fxLayoutGap=6%>
                <button matSuffix mat-icon-button>
                  <mat-icon>check_box</mat-icon>
                </button>

                <button matSuffix mat-icon-button>
                  <mat-icon>brush</mat-icon>
                </button>

                <button mat-icon-button>
                  <mat-icon>image</mat-icon>
                </button>
              </div>
            </div>
            <input class="titleInputCard" matInput placeholder="Take a note">
            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex=30>
              <button mat-icon-button>
                <mat-icon>add_alert</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>person_add</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>palette</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>image</mat-icon>
              </button>

              <button mat-icon-button>
                <mat-icon>archives</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>undo</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon>redo</mat-icon>
              </button>


              <div class="regButton" FxLayout="row" fxLayoutAlign="center end">
                <button mat-raised-button>Close</button>
              </div>
            </div>
          </mat-card>
        </div>
      </div> -->



<!-- 
 <div>
  <mat-toolbar>
    <div fxLayout="row" fxLayoutGap="45px" fxLayoutAlign="center center" fxFlex=100>
      <div fxLayoutAlign="space-around center" fxFlex=20>

        <button type="button" mat-button (click)="drawer.toggle()" flexShow="true">
          <mat-icon>menu</mat-icon>
        </button>

        <img src='assets/googleKeepLogo.png' width=30px>
        <span>Fundoonote</span>
      </div>
      <div fxLayoutAlign="space-around center" fxFlex=50>
        <mat-card fxLayout="row" fxFlex="100" fxLayoutGap="5px">
          <mat-icon>search</mat-icon>
          <input class="textboxDashboard" matInput placeholder="Search">
        </mat-card>
      </div>
      <div fxLayoutAlign="space-around center" fxFlex=30>
        <button mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>view_agenda</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>settings</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>apps</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon>account_circle</mat-icon>
        </button>

      </div>
    </div>
  </mat-toolbar>
</div> -->

