<div class="formsize" fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="40">

        <div class="heading2" fxLayout="column" fxLayoutAlign="center center">
            <mat-card-title>
                <p>
                    <span class="f">f</span>
                    <span class="u">u</span>
                    <span class="n">n</span>
                    <span class="d">d</span>
                    <span class="o">o</span>
                    <span class="o">o</span>
                    <span class="n">n</span>
                    <span class="o">o</span>
                    <span class="t">t</span>
                    <span class="e">e</span>
                </p>
            </mat-card-title>
            <h2>Forget Password</h2>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field [style.fontSize.px]="12" appearance="outline">
                <mat-label>Enter Your Email</mat-label>
                <input matInput placeholder="Email" name="email" type="text" [formControl]="email" required>
                <mat-icon matSuffix>email</mat-icon>
                <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
                <!-- <i class="material-icons"> email </i> -->
            </mat-form-field>
            <!-- <div class="button" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap=10%> -->
            <button mat-raised-button color="primary">Submit</button>
        </div>

    </mat-card>
</div>