<div fxFlex=100% fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex=80% fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap=10>
        <div fxFlex=33.3% fxLayoutAlign="center center" *ngFor="let items of note">
            <mat-card class="noteMatcard" fxFlex="90">
                <div fxLayout="column">
                    <mat-card-header>
                        <mat-card-title>{{items.title}}</mat-card-title>
                        <mat-card-subtitle>{{items.description}}</mat-card-subtitle>

                    </mat-card-header>
                    <div>
                        <app-note-icons [items]="items"></app-note-icons>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>