.formsize {
  height: 90vh;

}

.size {
  font-size: 30px
}

.mat-grid-tile {
  background: lightblue;
}

#search input[type=search].filled{
  width: 700px;
  height: 30px;
  padding-left: 80px;
}
// .searchBar{
//   width: 1000px;
//   height: 50px;
//      padding-left: 50px;
// }
.divider {
  height: 90vh;
  color: red;
}

.sideMenu {
  height: 5vh;
  margin: 15px 0;
  color: black;
}
