.formsize {
  height: 90vh;

}

.size {
  font-size: 30px
}

.mat-grid-tile {
  background: lightblue;
}

#search input[type=search].filled {
  width: 700px;
  height: 30px;
  padding-left: 80px;
}

.divider {
  height: 90vh;
  color: red;
}

.sideMenu {
  height: 5vh;
  margin: 15px 0;
  color: black;
}

.toolBar {
  width: 1100px;
  height: 30px;
}

.logo {

  height: 30px;
}

.textBoxRegister {
  margin-left: 7px;
  width: 90px;
}

.textboxDashboard {

  width: 1000px;
  height: 20px;
  padding-left: 30px;
  border: unset;
  outline: unset;
  margin: unset;
}

.siden {
  padding: 20px;
  width: 250px;
}


.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {

  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  flex: 1 0 auto;
}

.titleInputCard {
 
  border: unset;
  outline: none;
  margin: unset;
  outline-color: white;
}
.takeNoteInputCardTitle{
  border: none;
  outline: none;
  margin: none;
  height: 20%;
  outline-color: white;
}

.titleCard {
  width: 100px;
}

.noteMatcard{
  margin-top: 5vh;
}
.noteIconSize{
  size: 20vh
}