<div class="noteIconSize" fxLayout="row" fxLayoutAlign="space-around center" fxFlex=100>
        <button mat-icon-button>
          <mat-icon matSuffix>add_alert</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon matSuffix>person_add</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon matSuffix>palette</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon matSuffix>image</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon (click)="onArchive(items,$event)">archives</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon matSuffix>more_vert</mat-icon>
        </button>
             
      </div>